.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.cardItem {
    background-color: var(--secondary-background-color)!important;  
    color: var(--primary-color-text);
    text-transform: uppercase;
}

.cardItem img{
  	padding: 2rem;
  	object-fit: cover;
  	height: 200px;
}