.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin-bottom: 40px;
}

.cardItem {
    background-color: var(--secondary-background-color)!important; /* bs trae su bg predefinido, por eso el important */
    color: var(--primary-color-text);
    font-weight: 200;
}

.cardItem img{
    padding: 2rem;
  	object-fit: cover;
  	height: 200px;
}