.contenedorPrincipal{
    padding: 20px;
    background-color: var(--primary-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorSM{
    color: var(--primary-color-text);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
}

.contenedorSM h2{
    padding: 20px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorSM div {
    background-color: var(--secondary-color-text);
    border-radius: 10px;
    font-size: 1.3rem;
    font-family: var(--second-font);
    font-weight: 300;
    padding: 30px;
    max-width: 700px;
}

@media screen and (max-width:1024px){
 /*    .contenedorSM h2{
        display: flex;
        justify-content: center;
        align-content: center;
    }
 */
}