.contexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    color: var(--primary-color-text);
}

.transformText{
  color: var(--secondary-color-text);
}