.header {
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 30;
    transition: .3s ease-in;
    overflow: hidden;
    backdrop-filter: blur(15px);
}

.header .navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
}

.header .navMenu a {
    color: var(--primary-color-text);
    text-decoration: none;
    font-family: var(--first-font);
    text-transform: uppercase;
}

.header .navbar a:hover {
    color: #71f3d7c2;
    cursor: pointer;
    opacity: 0.8;   
}

.header .navbar img {
    width: 250px;
    height: auto;
}

.header .navMenu {
    display: flex;
}

.header .navItem {
    padding: 1rem;
    font-weight: 500;
}

.hamburger {
    display: none;
}

.header .navMenu .active{
    color:#71f3d7c2;;
}

.header .navbar img {
    display: none;
}

@media screen and (max-width:1024px) {

    .header .navbar img {
        display: block;
        width: 45px;
        padding: 5px;
        margin-left: 10px;
        height: auto;
        position: absolute;
        left: 0;
    }

    .header {
        max-width: 100%;
        background-color: var(--secondary-background-color);
        backdrop-filter: none;
    }

    .header .navbar {
        max-width: 100%;
    }

    .hamburger {
        display: block;
    }

    .navMenu {
        position: fixed;
        right: -100%;
        top: 50px;
        flex-direction: column;
        background-color: var(--secondary-background-color);
        width: 100%;
        height: 100%;
        z-index: 999;
        text-align: center;
        transition: .3s;
    }

    .navMenu.active {
        right: 0;
    }

    .navItem {
        margin: 1rem 0;
    }
}