.btnInicio{
    border: none;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgb(7, 83, 97);
    background-color: var(--secondary-color-text);
    padding:  5px;
    margin: 5px;
    color: var(--primary-color-text);
}

.btnInicio a{
    text-decoration: none;
    font-size:0.8rem;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color-text);
    text-transform: uppercase;
    padding: 10px;
}

.btnInicio a:hover{
    color: inherit;
}

.btnInicio span{
   padding-right: 10px;
    font-size: 1.2rem;
}

.btnInicio:hover{
    cursor: pointer;
    background-color: var(--primary-background-color);
    
}