.footerContainer{
    background-color: var(--secondary-background-color);
}

.footerContainerIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.footerIcon a{
    padding: 0 0.3rem;
    font-size: 3rem;
    color: var(--third-color-text);
}


.footerIcon a:hover{
    color: var(--background-color);
}