.projectCard{
    margin: 0.5rem;
    border: none!important;
    width: 600px;
}

.imgCardBlur{
    filter: blur(3px);
}

.containerText{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.containerText div {
    background-color: rgba(48, 115, 216, 0.473);
    width: 300px;
    padding: 20px;
    border-radius: 5%;
    text-align: center;
    animation-duration: 800ms;
    
}

.containerText div span:hover {
   opacity: 0.5;
   cursor: pointer;
}

.oculto {
    display: none;
}

.visible{
    display: block;
}