.projectCard{
    margin: 1rem;
    border: none!important;
    max-width: 900px;
}

.imgCardBlur{
    filter: blur(3px);
}

.containerText{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.containerText div {
    background-color: var(--borderD);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    animation-duration: 800ms;
    border: 2px solid var(--borderD);
}

.containerText div span a{
    color: var(--primary-color-text);
    font-size: 2rem;
}

.containerText div span:hover {
   opacity: 0.5;
   cursor: pointer;
}

.oculto {
    display: none;
}

.visible{
    display: block;
}