@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap');

:root{
    --primary-background-color: #042326;
    --secondary-background-color: #0A3A40;
    --primary-color-text: #d8f0f1;
    --secondary-color-text: #107361;
    --third-color-text:#1D7373; 
    --borderD:#1d737385;

}


body {
    /* background-color: var(--primary-background-color)!important ; */
    font-family: 'Roboto', sans-serif;
}

h2{
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color-text);
}

.containerGeneral{
    height: 100vh;
} 

.marginSecondary{
   padding-top: 50px;
}

.secondBgColor{
    background-color: var(--secondary-background-color);
}