.containerFormacion{
    min-height: 100vh;
    margin-bottom: 20px;
    
}


.divSec{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
