.containerProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.containerProjects h2 {
    margin-top: 50px;
}

.containerProjectsCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}